body {
  margin: 0;
  font-family:  'Montserrat',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.w-80{
  width:92% !important;
}
.w-85{
  width:80%  !important;
}
.active{
  position: relative;
}
.active:after {
  background-color: #007bff;
  content: "";
  display: block;
  height: 3px;
  top:3.5em;
  position: absolute;
  width: 80%;
}
.active:hover{
  text-decoration: none;
}

.no-product-container{
  position:relative;
  height:100vh;
  width: 100%;
  text-align: center;
}
.no-product{
  position:absolute;
  margin:0;
  width: 100%;
  top:50%;
left:50%;
  transform: translate(-50%,-50%);
}

.navigate{
  font-size: 1.5em;
  
}
.navigate >a{
  color:black !important;
  text-decoration: none;
}
a{
  color:black !important;
  text-decoration: none;
}
@media screen and (max-width:700px){
  .active{
    border-bottom:#007bff 2px solid ;
  }
  .active:after {
    all: unset;
  }
}